html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

#server h1 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
#server h1 form {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}
#server h1 form button {
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0;
}
#server h1 form button[value="true"] {
  color: #a4a4a4;
}
#server h1 form button[value="true"]:hover,
#server h1 form button[value="false"] {
  color: #eeb004;
}

form[action$="destroy"] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 19rem;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#sidebar .closebtn {
  text-align: right;
  font-size: 3rem;
  background-color: transparent;
  padding: 0rem 0rem;
  box-shadow: none;
  line-height: normal;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  display: none;
}

.openbtn:hover {
  background-color: #444;
}

[data-theme='light'] #sidebar {
  background-color: #f7f7f7;
}

[data-theme='dark'] #sidebar {
  background-color: #222;
  border-right-color: #000;
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* #sidebar h1::before {
  content: url("/img/mastodon-mascot.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
} */

#sidebar h1 {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  order: 0;
  line-height: 1;
}

#sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
}

[data-theme='dark'] #sidebar > div {
  border-top-color: #000;
  border-bottom-color: #000;
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
  border-bottom: 1px solid;
  border-top-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
}

[data-theme='dark'] #sidebar nav {
  border-top-color: #000;
  border-bottom-color: #000;
}

#sidebar > div form {
  position: relative;
}

.search {
  border-top: 1px solid;
}

#q {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

#q.loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

[data-theme='dark'] #sidebar nav a:hover {
  background: #111;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

[data-theme='dark'] #sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
  margin-left: 19rem; /* Same as the width of the sidebar */
  transition: margin-left .5s;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#server {
  max-width: 40rem;
  display: flex;
}

#server h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  /* line-height: 1.2; */
}

#server h1 + p {
  margin: 0;
}

#server h1 + p + p {
  white-space: break-spaces;
}

#server h1:focus {
  outline: none;
  color: hsl(224, 98%, 58%);
}

#server a[href*="twitter"] {
  display: flex;
  font-size: 1.5rem;
  color: #3992ff;
  text-decoration: none;
}
#server a[href*="twitter"]:hover {
  text-decoration: underline;
}

#server-avatar img {
  width: 240px;
  height: 126px;
  background: #c8c8c8;
  margin-right: 2rem;
  border-radius: 1.5rem;
  object-fit: contain;
}

#server h1 ~ div {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

#server-form {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 1rem;
}
#server-form > p:first-child {
  margin: 0;
  padding: 0;
}
#server-form > p:first-child > :nth-child(2) {
  margin-right: 1rem;
}
#server-form > p:first-child,
#server-form label {
  display: flex;
}
#server-form p:first-child span,
#server-form label span {
  width: 8rem;
}
#server-form p:first-child input,
#server-form label input,
#server-form label textarea {
  flex-grow: 2;
}

#server-form p:last-child {
  display: flex;
  gap: 0.5rem;
  margin: 0 0 0 8rem;
}

#server-form p:last-child button[type="button"] {
  color: #000;
}

.zero-state {
  margin: 2rem auto;
  text-align: left;
  color: #818181;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

:root[data-theme='light'] {
  color: #333;
  background: #fff;
}

[data-theme='light'] a {
  color: #333;
}

:root[data-theme='dark'] {
  color: #fff;
  background: #333;
}

[data-theme='dark'] a {
  color: #809fff;
}

[data-theme='dark'] #server h1 form button {
  background-color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, max-content));
  grid-row-gap: 5px;
}

.grid-item {
  height: 20px;
  width: 20px;
  object-fit: contain;
  vertical-align: middle;
  padding-bottom: 2px;
  margin-right: 0.5rem;
  transition: transform .2s; /* Animation */
}

.grid-item:hover {
  transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.footer-item {
  height: 20px;
  width: 20px;
  object-fit: contain;
  vertical-align: middle;
  padding-bottom: 2px;
}

.footer-logo {
  height: 20px;
  width: 55px;
  object-fit: contain;
  vertical-align: middle;
  padding-bottom: 2px;
}

.footer-logo2 {
  height: 20px;
  width: 75px;
  object-fit: contain;
  vertical-align: middle;
  padding-bottom: 2px;
}

.center {
  margin: auto;
  text-align: center;
}

#serverId {
  margin-right: 0.5rem;
}