body {
  font: 15px Arial, sans-serif;
  /* color: var(--text-color);
  background: var(--bkg-color); */
}
/* a {
  color: var(--text-color); 
} */

:root[data-theme='light'] {
  color: #333;
  background: #eee;
}

[data-theme='light'] a {
  color: #0033cc;
}

:root[data-theme='dark'] {
  color: #eee;
  background: #333;
}

[data-theme='dark'] a {
  color: #809fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, max-content));
  grid-row-gap: 5px;
}

.grid-item {
  height: 20px;
  width: 20px;
  object-fit: contain;
  vertical-align: middle;
  padding-bottom: 2px;
}

